/* src/styles/Table.module.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.addButton {
    background-color: #2d3748;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.2s;
}

.addButton:hover {
    background-color: #4a5568;
}

.tableContainer {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    overflow-x: auto; /* Küçük ekranlarda kaydırma sağlar */
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.table th,
.table td {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf2f7;
}

.table th {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #4a5568;
    background-color: #f7fafc;
}

.table tbody tr:last-child td {
    border-bottom: none;
}

.actionButton {
    background-color: #4299e1; /* blue-500 */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: 0.875rem;
    transition: background-color 0.2s;
}

.actionButton:hover {
    background-color: #2b6cb0; /* blue-700 */
}

.deleteButton {
  background-color: #e53e3e; /* red-500 */
}

.deleteButton:hover {
  background-color: #c53030; /* red-700 */
}

.buttonGroup {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.searchInput {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #e2e8f0; /* light gray */
  border-radius: 0.25rem;
  font-size: 1rem;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.06);
}

.searchInput:focus {
  outline: none;
  border-color: #4299e1; /* blue-500 */
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); /* blue-500 with transparency */
}
